<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="10330" android:versionName="1.33.0" android:installLocation="auto" package="com.nianticproject.ingress"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:glEsVersion="0x20000" android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <permission android:name="com.nianticproject.ingress.permission.MAPS_RECEIVE" android:protectionLevel="signature" />
    <uses-permission android:name="com.nianticproject.ingress.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <permission android:name="com.nianticproject.ingress.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.nianticproject.ingress.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <application android:theme="@style/Nemesis.Theme" android:label="@string/app_name" android:icon="@drawable/app_icon" android:name="com.nianticproject.ingress.NemesisApplication">
        <provider android:name="com.nianticproject.ingress.content.NemesisProvider" android:exported="false" android:authorities="com.nianticproject.ingress.content.NemesisProvider" />
        <activity android:theme="@style/Nemesis.Theme.Backgroundless" android:label="@string/app_name" android:name="com.nianticproject.ingress.NemesisActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="locale|keyboard|keyboardHidden" android:alwaysRetainTaskState="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.nianticproject.ingress.AccountsActivity" android:screenOrientation="portrait" />
        <activity android:name="com.nianticproject.ingress.multiphotos.MoreInfoActivity" android:screenOrientation="portrait" />
        <activity android:name="com.nianticproject.ingress.InviteActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.nianticproject.ingress.SoundBoardActivity" />
        <activity android:name="com.nianticproject.ingress.AttributionPageActivity" android:screenOrientation="portrait" />
        <activity android:name="com.nianticproject.ingress.PasscodeActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateVisible|adjustResize" />
        <service android:name="com.nianticproject.ingress.service.NemesisService" android:exported="false" />
        <service android:name="com.nianticproject.ingress.sensors.GmmLocationService" />
        <activity android:theme="@*android:style/Theme.Black.NoTitleBar" android:name="com.nianticproject.ingress.MuteScreenActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/Nemesis.Theme.NonFiction" android:name="com.nianticproject.ingress.CredentialsActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/label_share_to_super_ops" android:name="com.nianticproject.ingress.PortalAddActivity" android:windowSoftInputMode="stateHidden">
            <intent-filter android:label="@string/label_share_to_super_ops">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity android:name="com.nianticproject.ingress.share.LocationPickerActivity" />
        <activity android:theme="@*android:style/Theme.Black.NoTitleBar.Fullscreen" android:name="com.nianticproject.ingress.BlankPassThroughActivity" />
        <activity android:name="com.nianticproject.ingress.ConfirmSubmitPhotoActivity" />
        <activity android:name="com.nianticproject.ingress.EnterCorrectTextActivity" android:windowSoftInputMode="stateVisible" />
        <activity android:name="com.nianticproject.ingress.ReportInvalidPortalActivity" />
        <activity android:name="com.nianticproject.ingress.YouTubeActivity" />
        <activity android:name="com.nianticproject.ingress.multiphotos.PortalImageGridActivity" />
        <activity android:name="com.nianticproject.ingress.multiphotos.LightboxActivity" />
        <service android:label="@string/label_comm_service" android:name="com.nianticproject.ingress.service.CommService" android:exported="false" />
        <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.nianticproject.ingress" />
            </intent-filter>
        </receiver>
        <service android:name=".GCMIntentService" />
        <service android:name="com.nianticproject.ingress.push.NemesisNotificationsService" android:exported="false" />
        <service android:name="com.nianticproject.ingress.sync.SyncService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/sync" />
        </service>
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyDQC5cZC4OARbdK-iEGDto6LOTDfIEwTc0" />
    </application>
</manifest>